<div class="box box-success">
    <div class="row" style="margin-left: 16%;">
        <div class="col-md-8">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Lista de Cursos</h3>
              </div>
              <div class="row">
                  <div class="col-md-4">
                    <button class="btn btn-outline-success">Create</button>
                  </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body table-responsive no-padding" style="margin-top: 1.5%;">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>ID</th>
                    <th>Curso</th>
                    <th>Tipo</th>
                    <th>Ações</th>
                  </tr>
                  <tr *ngFor="let curso of cursos">
                    <td>{{ curso.nu_seq_curso }}</td>
                    <td>{{ curso.ds_nome }}</td>
                    <td>{{ curso.ds_tipo }}</td>
                    <td>
                        <button (click)="deletarCurso(curso.nu_seq_curso)" type="button" class="btn btn-outline-danger">Delete</button>
                        <button type="button" class="btn btn-outline-info">Update</button>
                    </td>
                  </tr>
                </tbody>
            </table>
              </div>
            </div>
        </div>
        </div>
    </div>
</div>
