<p>endereco works!</p>
<div class="row">
  <div class="col-md-10">
    <div class="col-md-8">
      <div class="col-md-6">
        <div class="col-md-4">
          <button class="btn btn-success">Adicionar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<ul class="list-group" *ngFor="let endereco of enderecos">
    <li class="list-group-item">{{ endereco.ds_rua }} - {{ endereco.co_cep }} - 
      {{ endereco.co_numero }} - {{ endereco.ds_bairro }} - 
      <button (click)="deletarEndereco(endereco.nu_seq_endereco)" class="btn btn-danger">Apagar</button> - 
      <button (click)="atualizarEndereco(endereco.nu_seq_endereco)" class="btn btn-primary">Atualizar</button>
    </li>
  </ul>
