<p>Usuários Lista</p>
<ul class="list-group" *ngFor="let usuario of usuarios">
  <li class="list-group-item">
    {{ usuario.nome }} -
    <button (click)="deletarUsuario(usuario.id)">APAGAR usuario</button>
  </li>
</ul>
